---
import Main from "../layouts/Main.astro";
import Card from "../components/Card.astro";

const blogPaths = ["some-blog", "another-blog"];
---

<Main>
  <h1 class="text-2xl text-white/70 font-semibold">Latest</h1>
  <p class="mb-10 text-sm text-white/50">
    Get up to speed with our latest offerings
  </p>

  <section class="flex flex-col gap-10">
    {blogPaths.map((path, index) => <Card to={`/blog/${path}`} />)}
  </section>
</Main>
