---
type Props = {
  to: string;
};

const { to } = Astro.props;
---

<a
  class="flex gap-2 border-2 rounded-lg p-2 border-white/20 group hover:cursor-pointer hover:border-white/40 transition-all shadow-xl hover:shadow-sm"
  href={to}
>
  <div
    class="bg-white/30 min-w-[135px] min-h-[127px] rounded-lg group-hover:scale-90 group-hover:bg-white/70 transition-all"
  >
  </div>

  <div class="flex-1 flex flex-col gap-4 justify-center">
    <div
      class="h-3 w-full bg-white/20 group-hover:bg-white/40 rounded-md group-hover:translate-y-2 transition-all"
    >
    </div>
    <div class="h-3 w-full bg-white/20 group-hover:bg-white/40 rounded-md">
    </div>
    <div
      class="h-3 w-full bg-white/20 rounded-md group-hover:bg-white/40 group-hover:translate-y-2 transition-all"
    >
    </div>
    <div class="h-3 w-full bg-white/20 group-hover:bg-white/40 rounded-md">
    </div>
  </div>
</a>
